<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingo.mapper.SwipeMapper">
    <!-- 스와이프 처리 -->
    <insert id="insertUserSwipe">
        INSERT INTO "swipe" ("swipeNo", "toUserNo", "fromUserNo", "swipeType", "swipeTime")
        VALUES (#{swipeNo}, #{toUserNo}, #{fromUserNo}, #{swipeType}, #{swipeTime})
    </insert>

    <!-- 상대방이 나를 PING 했는지 확인 (매칭 여부 조사) -->
    <select id="isSwipeMatched" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM "swipe"
        WHERE ("fromUserNo" = #{toUserNo} AND "toUserNo" = #{fromUserNo})
        AND "swipeType" IN ('PING', 'SUPERPING')
    </select>

    <!-- 나를 SUPERPING or PING을 한 유저 조회 -->
    <select id="selectPingorSuperpingbyme" resultType="com.pingo.dto.profile.CheckPingProfileResponseDTO">
        SELECT
            US."userNo",
            US."userName",
            UF."userBirth",
        (SELECT UI."imageUrl"
        FROM "userImage" UI
        WHERE UI."userNo" = US."userNo"
            AND UI."imageProfile" = 'T'
            AND ROWNUM = 1) AS "imageUrl",
        (SELECT LISTAGG(UI."imageUrl", ',') WITHIN GROUP (ORDER BY UI."imageUrl")
        FROM "userImage" UI
        WHERE UI."userNo" = US."userNo") AS "images",
        CASE
            WHEN T."maxSwipeType" = 'SUPERPING' THEN 'SUPERPING'
            ELSE 'PING'
        END AS "swipeType"
        FROM "users" US
        JOIN "userInfo" UF ON US."userNo" = UF."userNo"
        RIGHT JOIN (
            SELECT
                SW."fromUserNo",
                SW."toUserNo",
                MAX(SW."swipeType") AS "maxSwipeType"
            FROM "swipe" SW
            WHERE SW."swipeType" IN ('SUPERPING', 'PING')
            AND NOT EXISTS (
                SELECT 1
                FROM "swipe" SW2
                WHERE SW2."fromUserNo" = SW."fromUserNo"
                AND SW2."toUserNo" = SW."toUserNo"
                AND SW2."swipeType" = 'PANG'
            )
            GROUP BY SW."fromUserNo", SW."toUserNo"
        ) T ON T."fromUserNo" = US."userNo"
        WHERE T."toUserNo" = #{userNo}
            AND NOT EXISTS (
                SELECT 1
                FROM "matchMapper" MM
                WHERE MM."matchUserNo" = US."userNo"
                AND MM."userNo" = #{userNo}
            )


    </select>


</mapper>
